* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffc050;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Rubik", sans-serif;
    background-color: #08003f;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

header img {
    height: 120px;
    width: 120px;
}

.navbar {
    display: flex;
    align-items: center;
    height: auto;
    background-color: #08003f;
    padding: 20px;
    gap: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li {
    align-self: center;
    height: 50px;
}

.nav-links li a {
    height: 100%;
    text-decoration: none;
    letter-spacing: 3px;
    color: #ffc050;
    font-size: 16px;
    font-weight: 500;
    transition: 0,3s;

        &:hover {
            text-decoration: underline;
            color: #fff;
        }
    }


.btns {
    display: flex;
    justify-content: flex-end;
    float: right;
    gap: 20px;
}

.log-in {
    width: 120px;
    height: 50px;
    background-color: #ffc050;
    color: #08003f;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    transition: 0.3s;

        &:hover {
            background-color: #00c599;
        }
}

.sign-up {
    width: 120px;
    height: 50px;
    background-color: #00c599;
    color: #08003f;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    transition: 0.3s;

        &:hover {
            background-color: #ffc050;
        }
}

/* sidebar */


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #08003f;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.sidebar-links {
    height: 50px;
    list-style: none;
}

.sidebar-links li a{
    height: 100%;
    text-decoration: none;
    letter-spacing: 3px;
    color: #ffc050;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    transition: 0,3s;

        &:hover {
            text-decoration: underline;
            color: #fff;
        }
    }

.side-btns {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

@media screen and (max-width: 700px) {
    
    .nav-links {
        display: none;
    }

    .btns {
        display: none;
    }
    
    .sidebar {
        display: flex;
    }
}

/*fonts

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*/